<div class="wrap">
  <header>

    <div>


    <p class="header animated zoomIn">Habits</p>

    <div class="new-habit animated zoomIn">
      <%= link_to "(+)", new_habit_path, class: "btn-header" %>
    </div>
</div>

  <div>

    <div class="login">

    </div>
    <div class="login">
      <% if !current_user %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
      <% else %>
      <%= current_user.email %>
      <%= link_to"(  Sign out  )", destroy_user_session_path, :method => :delete, class: "small" %>
      <% end %>
    </div>

  </div>

  </header>
  <div class="index-wrap">


    <main>
      <% @habits.each do |habit| %>
      <% if habit.user == current_user %>
      <div class="each-habit animated pulse" id="habit">
        <div class="habit-name">
          <h3> <%= link_to "#{habit.name}", habit_path(habit), class: "btn" %> </h3>
        </div>
        <div class="habit-occurrence">
          <%= link_to "(+)", new_habit_occurrence_path(habit), class: "btn" %>
        </div>
      </div>
      <% end %>
      <% end %>

    </main>
  </div>
</div>
