<div class="index-wrap">
  <header>
    <div>
    <p class="header animated zoomIn"> <%= link_to "<< ", habits_path, class: "btn-header" %>All Habits </p>
    </div>
    <div>

    <div class="login">
      <% if !current_user %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
      <% else %>
      <%= current_user.email %>
      <%= link_to "(  Sign out  )", destroy_user_session_path, :method => :delete, class: "small" %>
      <% end %>
    </div>
    </div>

  </header>

  <div class="each-habit habit-name animated pulse">
    <p class="btn"><%= @habit.name %></p>
  </div>

  <div class="goal">
    <p>Goal: <%= @habit.goal %></p>
  </div>

  <dv class="chart">
    <%= line_chart @occurrence_data, colors: ["black"] %>
  </div>

  <div class="occurrences">
    <p> <%= link_to "(+) New Occurrence", new_habit_occurrence_path(@habit), class: "btn" %> </p>

      <span><%= link_to "(Edit)", edit_habit_path, class: "btn-header" %></span>


    <% @occurrences.each do |occurrence| %>
    <p><%= occurrence.updated_at.strftime('%B %e at %l:%M %p') %> <br><%= occurrence.note %></p>
    <% end %>

    </div>

  </section>

</div>
