<!DOCTYPE html>
<html>
<head>
  <title>HabitTracker</title>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lora|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="animate.css" />
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="index-wrap">
    <header>
      <p class="header btn-header animated zoomIn">Welcome to Habit Tracker</p>
    </header>
    <section>
    </br>
  </br>
      <h1> <%= yield %> </h1>
    </section>
    <footer>
      <div class="footer">
        <% flash.each do |type, message| %>
        <p class="flash <%= type %> small"><%= message %> </p>
        <% end %>
      </div>

    </footer>
  </div>
</body>
</html>
